<div class="charaSheet clearfix">
  <div class="left">
    <div class="about">
      <p class="name">キャラクター01</p>
      <p class="gender">性別：男性</p>
    </div>
    <table>
      <tr>
        <th>STR</th>
        <td>18</td>
        <th>SAN</th>
        <td>18</td>
      </tr>
      <tr>
        <th>CON</th>
        <td>18</td>
        <th>幸運</th>
        <td>18</td>
      </tr>
      <tr>
        <th>POW</th>
        <td>18</td>
        <th>アイデア</th>
        <td>18</td>
      </tr>
      <tr>
        <th>DEX</th>
        <td>18</td>
        <th>知識</th>
        <td>18</td>
      </tr>
      <tr>
        <th>APP</th>
        <td>18</td>
        <th>体力</th>
        <td>18</td>
      </tr>
      <tr>
        <th>SIZ</th>
        <td>18</td>
        <th>MP</th>
        <td>18</td>
      </tr>
      <tr>
        <th>INT</th>
        <td>18</td>
        <th>職業技能</th>
        <td>18</td>
      </tr>
      <tr>
        <th>EDU</th>
        <td>18</td>
        <th>趣味技能</th>
        <td>18</td>
      </tr>
      <tr>
        <th>年収・財産</th>
        <td>18</td>
        <th>ダメージ<br>ボーナス</th>
        <td>+3D6</td>
      </tr>
    </table>
  </div>
  <div class="right">
    <dl>
      <dt>キャラクター選択</dt>
      <dd>
        <ul>
          <li>キャラクター01</li>
          <li>キャラクター02</li>
          <li>キャラクター03</li>
          <li>キャラクター04</li>
          <li>キャラクター05</li>
          <li>キャラクター06</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
