<section id="top">
  <div class="container clearfix">
    <div class="menu">
      <h1><img src="../../../assets/img/top/logo.png" alt="OCTPOT"></h1>
      <ul>
        <li><a class="room" mat-raised-button routerLink="/create-chat-room">ルーム作成</a></li>
        <li><a class="room" mat-raised-button routerLink="/chat-room">ルーム入室</a></li>
        <li><a class="chara" mat-raised-button routerLink="/management">キャラクター管理</a></li>
        <li><a class="exit" mat-raised-button href="#">終了</a></li>
      </ul>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
