.memo-block {
  width: 195px;
  height: 466px;
  padding: 10px;
  font-size: 12px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  .memo-block ul {
    margin-bottom: 5px;
    letter-spacing: -0.5em;
  }
    .memo-block ul li {
      letter-spacing: normal;
    }
      .memo-block ul li:first-child {
        float: left;
      }
      .memo-block ul li:last-child {
        float: right;
      }
      .memo-block ul li button {
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;
        border: none;
        box-sizing: border-box;
        height: 25px;
        width: 75px;
      }
        .memo-block ul li button.raised-primary {
          background-color: #1976d2;
          color: #fff;
        }
        .memo-block ul li button.raised-warn {
          background-color: #f44336;
          color: #fff;
        }
  .memo-block .memos {
    overflow-y: scroll;
    height: 300px;
    height: calc(100% - 50px);
    width: calc(100% - 20px);
    position: absolute;
    border: 1px solid #999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: -0.5em;
  }
    .memo-block .memos textarea {
      overflow: scroll;
      overflow-x: hidden;
      padding: 5px;
      height: 140px;
      width: 100%;
      resize: vertical;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      letter-spacing: normal;
    }
