/* 全体
------------------------------*/
.parent{
  background: white;
  border: solid 1px black;
  margin: 0 20px 20px 20px;
}

.parent h1{
  background: lightgray;
  color: black;
  margin: 0;
}

.child{
  border: solid 1px black;
  margin: 2%;
}

.child h2{
  border-left: solid 5px blue;
  background: skyblue;
  color: white;
  margin: 0;
}

.child ul{
  list-style: none;
}

.child p,
.child ul{
  margin: 0;
}

.child ul{
  padding: 0;
}

.left-area,
.right-area{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.tri-l,
.tri-c,
.tri-r{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.left-area,
.tri-l{
  margin: 2%;
}

.tri-c{
  margin: 2% 2% 2% 0;
}

.right-area,
.tri-r{
  margin: 2% 0;
}


/* float解除 */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* 基礎ステータス */
.base li p,
.base li input,
.base li .button{
  display: inline-block;
}

.base li p{
  width: 100px;
  text-align: center;
}

.base li input{
  width: 50px;
}

/* 変動ステータス */
.fluctuation li p,
.fluctuation li input{
  display: inline-block;
}

.fluctuation li p {
  width: 140px;
  text-align: center;
}

.fluctuation li input{
  width: 80px;
}

/* 振りなおし回数 */
.redice li p,
.redice input{
  display: inline-block;
}

.redice li p{
  width: 100px;
  text-align: center;
}

.redice input{
  width: 50px;
}

/* プロフィール */
.plof .child textarea{
  overflow: scroll;
  width: 98%;
  height: 100px;
  margin: 1%;
}
