<div class="container clearfix">
  <nav class="side">
    <ul *ngIf="side_flg === true">
      <li><a href="#">トップページ</a></li>
      <li><a href="#">キャラクター管理</a></li>
      <li><a href="#">設定</a></li>
    </ul>
    <div class="toggle">
      <img *ngIf="!side_flg" (click)="side_flg=true;" src="../../../assets/img/character-management/open_button.png"
           alt="画像右向き">
      <img class="active" *ngIf="side_flg" (click)="side_flg=false;"
           src="../../../assets/img/character-management/close_button.png" alt="画像左向き">
    </div>
  </nav>

  <div class="Left">
    <h1>キャラクター一覧</h1>
    <div class="innerContainer">
      <mat-tab-group class="matTabs">
        <mat-tab label="PC">
          <ul class="characterList">
            <li><a routerLink="/view-characterjson">character.json閲覧テスト</a></li>
            <li>キャラクター2</li>
            <li>キャラクター3</li>
            <li>キャラクター4</li>
            <li>キャラクター5</li>
          </ul>
        </mat-tab>
        <mat-tab label="NPC"> Content NPC</mat-tab>
      </mat-tab-group>
      <ul class="bottoms">
        <li>
          <a class="linkBtn" routerLink="/character-create">作成</a>
        </li>
        <li>
          <a class="linkBtn">編集</a>
        </li>
        <li>
          <a class="linkBtn raised-warn">削除</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Right">
    <h1>キャラクター詳細</h1>
    <div class="innerContainer clearfix">
      <div class="characterStatus">
        <h2>ステータス</h2>
        <mat-tab-group>
          <mat-tab label="能力値">
            <ul class="statusList">
              <table>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
              </table>
            </ul>
          </mat-tab>
          <mat-tab label="プロフィール">
            <table>
              <tr>
                <th>名前</th>
                <td>サンプルさん</td>
              </tr>
              <tr>
                <th>職業</th>
                <td>学生</td>
              </tr>
              <tr>
                <th>年齢</th>
                <td>18歳</td>
              </tr>
              <tr>
                <th>性別</th>
                <td>男性</td>
              </tr>
              <tr>
                <th>身長</th>
                <td>170cm</td>
              </tr>
              <tr>
                <th>体重</th>
                <td>62kg</td>
              </tr>
              <tr>
                <th>出身地</th>
                <td>日本</td>
              </tr>
              <tr>
                <th>髪色</th>
                <td>黒</td>
              </tr>
              <tr>
                <th>瞳の色</th>
                <td>黒</td>
              </tr>
            </table>
          </mat-tab>
          <mat-tab label="技能">
            <ul class="skillList">
              <table>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
              </table>
            </ul>
          </mat-tab>
          <mat-tab label="所持品">
            <ul class="BelongingsList">
              <table>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
              </table>
            </ul>
          </mat-tab>
          <mat-tab label="経歴">
            <ul class="Career">
              <table>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>2</td>
                </tr>
              </table>
            </ul>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
