.container {
}

.characterList {
  border: solid 1px #999;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 200px;
  width: 136px;
}

.characterList li {
  border: solid 1px #999999;
}
