<div class="container clearfix">
  <div class="Left">
    <h1>キャラクター一覧</h1>
    <div class="innerContainer">
      <ul class="tabs">
        <li>PC</li>
        <li>NPC</li>
      </ul>
      <ul class="characterList">
        <li><a routerLink="/view-characterjson">character.json閲覧テスト</a></li>
        <li>キャラクター2</li>
        <li>キャラクター3</li>
        <li>キャラクター4</li>
        <li>キャラクター5</li>
      </ul>
      <ul class="bottoms">
        <li>
          <a class="linkBtn" routerLink="/character-create">作成</a>
        </li>
        <li>
          <a class="linkBtn">編集</a>
        </li>
        <li>
          <a class="linkBtn raised-warn">削除</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Right">
    <h1>キャラクター詳細</h1>
    <div class="innerContainer clearfix">
      <div class="photos">
        <div class="photo">
          <img src="">
        </div>
        <div class="photoListBase">
          <h2>画像セット</h2>
          <ul class="photoList">
            <li>画像01</li>
            <li>画像02</li>
            <li>画像03</li>
          </ul>
        </div>
      </div>
      <div class="characterStatus">
        <h2>ステータス</h2>
        <ul class="tabs">
          <li>能力値</li>
          <li>プロフィール</li>
          <li>技能</li>
          <li>所持品</li>
          <li>経歴</li>
        </ul>
      </div>
    </div>
  </div>
</div>
