<nav class="side">
  <ul *ngIf="side_flg === true">
    <li><a routerLink="/">トップページ</a></li>
    <li><a routerLink="/create-chat-room">ルーム作成</a></li>
    <li><a routerLink="/chat-room">ルーム入出</a></li>
    <li><a routerLink="/management">キャラクター管理</a></li>
  </ul>
  <div class="toggle">
    <div class="closeWrap" *ngIf="!side_flg" (click)="side_flg=true;">
      <img src="../../../assets/img/character-management/open_button.png" alt="→">
    </div>
    <div class="activeWrap" *ngIf="side_flg" (click)="side_flg=false;">
      <img class="active" src="../../../assets/img/character-management/close_button.png" alt="←">
    </div>
  </div>
</nav>
