<div *ngIf="!bool; else success">
  <p>ルーム作成</p><br>
  <form (submit)="create()">
    <div>ホストのIPアドレス</div><br>
    <div>{{ ip }}</div><br>
    <input type="password" placeholder="パスワード" (input)="pass=$event.target.value"><br>
    <input type="text" placeholder="あなたの名前" (input)="name=$event.target.value"><br>
    <input type="submit" value="作成"><br>
  </form>
  <a (click)="leave()" routerLink="">トップへ戻る</a><br>
</div>
<ng-template #success>
  <app-menu></app-menu>
  <form (submit)="message()" (submit)="$event.target.text.value=null">
    <input name="text" type="text" placeholder="テキスト" (input)="comment=$event.target.value">
    <input type="submit" value="送信">
  </form><br>
  <div id="message_list" *ngFor = "let message of message_list">
    <div>{{message}}</div>
  </div>
</ng-template>
