<div class="roomForm" *ngIf="!bool; else success">
  <div class="warp">
    <h1>ルーム作成</h1>
    <form (submit)="create()">
      <ul class="column">
        <li><label for="text">ホストのIPアドレス：</label><input type="text" value={{ip}} readonly></li>
        <li><label for="password">パスワード：</label><input type="password" (input)="pass=$event.target.value"></li>
        <li><label for="text">あなたの名前：</label><input type="text" (input)="name=$event.target.value"></li>
      </ul>
      <ul class="submits clearfix">
        <li><button class="submit" type="submit">作成</button></li>
        <li><a (click)="leave()" routerLink=""><button class="leave">トップへ戻る</button></a></li>
      </ul>
    </form>
  </div>
</div>
<ng-template #success>
  <div class="outer">
    <app-menu></app-menu>
    <div class="contentWrap clearfix">
      <div class="leftArea">
        <div class="chatBlock">
          <ul class="log">
            <li id="message_list" *ngFor="let message of message_list"><span>{{message.message}}</span><span class="date">{{message.date}}</span></li>
          </ul>
          <form (submit)="message()" (submit)="$event.target.text.value=null">
            <input name='text' type="text" placeholder="テキスト" (input)="comment=$event.target.value">
            <input type="submit" value="送信">
          </form>
        </div>
        <app-chara-sheet></app-chara-sheet>
      </div>
      <div class="rightArea clearfix">
        <div class="statusArea"><app-status></app-status></div>
        <div class="diceArea">
          <mat-tab-group>
            <mat-tab label="メモ">
              <app-memo></app-memo>
            </mat-tab>
            <mat-tab label="ダイス">
              <app-dice></app-dice>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</ng-template>
