<input id="upfile" name="upfile" type="file" #fl
  accept="*.json" (change)="getJson(fl.files)" />
<p>------------------------</p>
<pre>{{fullJson | json}}</pre>
<p>------------------------</p>

<p>項目</p>
<div>
  <table>
    <tr>

      <!-- Settingここから -->
      <th>Setting</th>
      <td>
        <table>
          <tr>
            <th>type</th>
            <td>{{type}}</td>
          </tr>
          <tr>
            <th>race</th>
            <td>{{race}}</td>
          </tr>
          <tr>

            <!-- Character -->
            <th>character</th>
            <td>
              <table>
                <tr>
                  <th>name</th>
                  <td>{{name}}</td>
                </tr>
                <tr>
                  <th>gender</th>
                  <td>{{gender}}</td>
                </tr>
                <tr>
                  <th>height</th>
                  <td>{{height}}</td>
                </tr>
                <tr>
                  <th>weight</th>
                  <td>{{weight}}</td>
                </tr>
                <tr>
                    <th>birthplace</th>
                    <td>{{birthplace}}</td>
                </tr>
                <tr>
                    <th>hairColor</th>
                    <td>{{hairColor}}</td>
                </tr>
                <tr>
                    <th>eyeColor</th>
                    <td>{{eyeColor}}</td>
                </tr>
              </table>
            </td>
            <!-- Characterここまで -->
          </tr>
          <tr>
            <th>job</th>
            <td>{{job}}</td>
          </tr>
          <tr>
            <th>images</th>
            <td>がぞー</td>
          </tr>
        </table>
      </td>
      <!-- Settingここまで -->
    </tr>
    <tr>
      <!-- Status ここから -->
      <th>Status</th>
      <td>
        <table>
          <tr>
            <!-- baseStatusここから -->
            <th>baseStatus</th>
            <td>
              <table>
                <tr>
                  <th>str</th>
                  <td>{{str}}</td>
                </tr>
                <tr>
                  <th>con</th>
                  <td>{{con}}</td>
                </tr>
                <tr>
                  <th>pow</th>
                  <td>{{pow}}</td>
                </tr>
                <tr>
                  <th>dex</th>
                  <td>{{dex}}</td>
                </tr>
                <tr>
                  <th>siz</th>
                  <td>{{siz}}</td>
                </tr>
                <tr>
                  <th>app</th>
                  <td>{{app}}</td>
                </tr>
                <tr>
                  <th>int</th>
                  <td>{{int}}</td>
                </tr>
                <tr>
                  <th>edu</th>
                  <td>{{edu}}</td>
                </tr>
                <tr>
                  <th>income-and-property</th>
                  <td>{{income_and_property}}</td>
                </tr>
              </table>
            </td>
            <!-- baseStatusここまで -->
          </tr>
          <tr>
            <!-- fluctuationStatusここから -->
            <th>
              fluctuationStatus
            </th>
            <td>
              <table>
                <tr>
                  <th>san</th>
                  <td>{{san}}</td>
                </tr>
                <tr>
                  <th>luck</th>
                  <td>{{luck}}</td>
                </tr>
                <tr>
                  <th>idea</th>
                  <td>{{idea}}</td>
                </tr>
                <tr>
                  <th>knowledge</th>
                  <td>{{knowledge}}</td>
                </tr>
                <tr>
                  <th>health</th>
                  <td>{{health}}</td>
                </tr>
                <tr>
                  <th>mp</th>
                  <td>{{mp}}</td>
                </tr>
                <tr>
                  <th>VocationalSkill</th>
                  <td>{{VocationalSkill}}</td>
                </tr>
                <tr>
                  <th>HobbySkill</th>
                  <td>{{HobbySkill}}</td>
                </tr>
                <tr>
                  <th>DamegeBonus</th>
                  <td>{{DamegeBonus}}</td>
                </tr>
              </table>
            </td>
            <!-- fluctuationStatusここまで -->
          </tr>
          <tr>
            <!-- reDiceここから -->
            <th>reFice</th>
            <td>
              <table>
                <tr>
                  <th>str</th>
                  <td>{{diceStr}}</td>
                </tr>
                <tr>
                  <th>con</th>
                  <td>{{diceCon}}</td>
                </tr>
                <tr>
                  <th>pow</th>
                  <td>{{dicePow}}</td>
                </tr>
                <tr>
                  <th>dex</th>
                  <td>{{diceDex}}</td>
                </tr>
                <tr>
                  <th>app</th>
                  <td>{{diceApp}}</td>
                </tr>
                <tr>
                  <th>siz</th>
                  <td>{{diceSiz}}</td>
                </tr>
                <tr>
                  <th>int</th>
                  <td>{{diceInt}}</td>
                </tr>
                <tr>
                  <th>edu</th>
                  <td>{{diceEdu}}</td>
                </tr>
                <tr>
                  <th>income-and-property</th>
                  <td>{{diceIncome_and_property}}</td>
                </tr>
              </table>
            </td>
            <!-- reDiceここまで -->
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <!-- Skillここから -->
      <th>Skill</th>
      <td>
        <table>
          <tr>
            <th>combat</th>
            <td>
              <!-- conbatループ開始 -->
              <table>
                <tr *ngFor="let combat of combats">
                  <th>{{combat.skillName}}</th>
                  <td>
                    <table>
                      <tr>
                          <th>skillName</th>
                          <td>{{combat.skillName}}</td>
                        </tr>
                        <tr>
                          <th>initialValue</th>
                          <td>{{combat.initialValue}}</td>
                        </tr>
                        <tr>
                          <th>jobPoint</th>
                          <td>{{combat.jobPoint}}</td>
                        </tr>
                        <tr>
                          <th>hobbyPoint</th>
                          <td>{{combat.hobbyPoint}}</td>
                        </tr>
                        <tr>
                          <th>growthPoint</th>
                          <td>{{combat.growthPoint}}</td>
                        </tr>
                        <tr>
                          <th>otherPoint</th>
                          <td>{{combat.otherPoint}}</td>
                        </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- combatループ終了 -->
            </td>
          </tr>
          <tr>
            <th>search</th>
            <td>
              <!-- searchループ開始 -->
              <table>
                <tr *ngFor="let search of searchs">
                  <th>{{search.skillName}}</th>
                  <td>
                    <table>
                      <tr>
                        <th>skillName</th>
                        <td>{{search.skillName}}</td>
                      </tr>
                      <tr>
                        <th>initialValue</th>
                        <td>{{search.initialValue}}</td>
                      </tr>
                      <tr>
                        <th>jobPoint</th>
                        <td>{{search.jobPoint}}</td>
                      </tr>
                      <tr>
                        <th>hobbyPoint</th>
                        <td>{{search.hobbyPoint}}</td>
                      </tr>
                      <tr>
                        <th>growthPoint</th>
                        <td>{{search.growthPoint}}</td>
                      </tr>
                      <tr>
                        <th>otherPoint</th>
                        <td>{{search.otherPoint}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- searchループ終了 -->
            </td>
          </tr>
          <tr>
            <th>behavior</th>
            <td>
              <!-- behaviorループ開始 -->
              <table>
                <tr *ngFor="let behavior of behaviors">
                  <th>{{behavior.skillName}}</th>
                  <td>
                    <table>
                      <tr>
                        <th>skillName</th>
                        <td>{{behavior.skillName}}</td>
                      </tr>
                      <tr>
                        <th>initialValue</th>
                        <td>{{behavior.initialValue}}</td>
                      </tr>
                      <tr>
                        <th>jobPoint</th>
                        <td>{{behavior.jobPoint}}</td>
                      </tr>
                      <tr>
                        <th>hobbyPoint</th>
                        <td>{{behavior.hobbyPoint}}</td>
                      </tr>
                      <tr>
                        <th>growthPoint</th>
                        <td>{{behavior.growthPoint}}</td>
                      </tr>
                      <tr>
                        <th>otherPoint</th>
                        <td>{{behavior.otherPoint}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- behaviorループ終了 -->
            </td>
          </tr>
          <tr>
            <th>negotiation</th>
            <td>
              <!-- negotiationループ開始 -->
              <table>
                <tr *ngFor="let negotiation of negotiations">
                  <th>{{negotiation.skillName}}</th>
                  <td>
                    <table>                
                      <tr>
                        <th>skillName</th>
                        <td>{{negotiation.skillName}}</td>
                      </tr>
                      <tr>
                        <th>initialValue</th>
                        <td>{{negotiation.initialValue}}</td>
                      </tr>
                      <tr>
                        <th>jobPoint</th>
                        <td>{{negotiation.jobPoint}}</td>
                      </tr>
                      <tr>
                        <th>hobbyPoint</th>
                        <td>{{negotiation.hobbyPoint}}</td>
                      </tr>
                      <tr>
                        <th>growthPoint</th>
                        <td>{{negotiation.growthPoint}}</td>
                      </tr>
                      <tr>
                        <th>otherPoint</th>
                        <td>{{negotiation.otherPoint}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- negotiationループ終了 -->
            </td>
          </tr>
          <tr>
            <table>
              <th>knowledge</th>
              <td>
                <!-- knowledgeループ開始 -->
                <table>
                  <tr *ngFor="let knowledge of knowledges">
                    <th>{{knowledge.skillName}}</th>
                    <td>
                      <table>    
                        <tr>
                          <th>skillName</th>
                          <td>{{knowledge.skillName}}</td>
                        </tr>
                        <tr>
                          <th>initialValue</th>
                          <td>{{knowledge.initialValue}}</td>
                        </tr>
                        <tr>
                          <th>jobPoint</th>
                          <td>{{knowledge.jobPoint}}</td>
                        </tr>
                        <tr>
                          <th>hobbyPoint</th>
                          <td>{{knowledge.hobbyPoint}}</td>
                        </tr>
                        <tr>
                          <th>growthPoint</th>
                          <td>{{knowledge.growthPoint}}</td>
                        </tr>
                        <tr>
                          <th>otherPoint</th>
                          <td>{{knowledge.otherPoint}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- knowledgeループ終了 -->
              </td>
            </table>
          </tr>
        </table>
      </td>
      <!-- Skillここまで -->
    </tr>
    <tr>
      <!-- itemsここから -->
      <th>items</th>
      <td>
        <table>
          <tr>
            <th>wepon</th>
            <td>
              <!-- weponループ開始 -->
              <table>
                <tr *ngFor="let wepon of wepons">
                  <th>{{wepon.weponName}}</th>
                  <td>
                    <table>
                      <tr>
                        <th>weponName</th>
                        <td>{{wepon.weaponName}}</td>
                      </tr>
                      <tr>
                        <th>successRate</th>
                        <td>{{wepon.successRate}}</td>
                      </tr>
                      <tr>
                        <th>damage</th>
                        <td>{{wepon.damage}}</td>
                      </tr>
                      <tr>
                        <th>range</th>
                        <td>{{wepon.range}}</td>
                      </tr>
                      <tr>
                        <th>attackCount</th>
                        <td>{{wepon.attackCount}}</td>
                      </tr>
                      <tr>
                        <th>loadingCount</th>
                        <td>{{wepon.loadingCount}}</td>
                      </tr>
                      <tr>
                        <th>endurance</th>
                        <td>{{wepon.endurance}}</td>
                      </tr>
                      <tr>
                        <th>other</th>
                        <td>{{wepon.other}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- weponループ終了 -->
            </td>
          </tr>
          <tr>
            <th>item</th>
            <td>
              <!-- itemループ開始 -->
              <table>
                <tr *ngFor="let item of items">
                  <th>{{item.itemName}}</th>
                  <td>
                    <table>
                      <tr>
                        <th>itemName</th>
                        <td>{{item.itemName}}</td>
                      </tr>
                      <tr>
                        <th>number</th>
                        <td>{{item.number}}</td>
                      </tr>
                      <tr>
                        <th>itemOther</th>
                        <td>{{item.other}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- itemループ終了 -->
            </td>
          </tr>
        </table>
      </td>
      
      <!-- itemsここまで -->
    </tr>
    <tr>
      <!-- profileここから -->
      <th>profile</th>
      <td>
        <table>
          <tr>
            <th>Career</th>
            <td>{{Career}}</td>
          </tr>
          <tr>
            <th>Encounter</th>
            <td>{{Encounter}}</td>
          </tr>
          <tr>
            <th>OtherMemo</th>
            <td>{{OtherMemo}}</td>
          </tr>
        </table>
      </td>
      <!-- profileここまで -->
    </tr>
  </table>
</div>