<input id="upfile" name="upfile" type="file" #fl
  accept="*.json" (change)="getJson(fl.files)" />
<p>{{jsonman}}</p>

<p>項目</p>
<div>
  <table>
    <tr>

      <!-- Settingここから -->
      <th>Setting</th>
      <td>
        <table>
          <tr>
            <th>type</th>
            <td>{{type}}</td>
          </tr>
          <tr>
            <th>race</th>
            <td>{{race}}</td>
          </tr>
          <tr>

            <!-- Character -->
            <th>character</th>
            <td>
              <table>
                <tr>
                  <th>name</th>
                  <td>{{name}}</td>
                </tr>
                <tr>
                  <th>gender</th>
                  <td>{{gender}}</td>
                </tr>
                <tr>
                  <th>height</th>
                  <td>{{height}}</td>
                </tr>
                <tr>
                  <th>weight</th>
                  <td>{{weight}}</td>
                </tr>
                <tr>
                    <th>birthplace</th>
                    <td>{{birthplace}}</td>
                </tr>
                <tr>
                    <th>hairColor</th>
                    <td>{{hairColor}}</td>
                </tr>
                <tr>
                    <th>eyeColor</th>
                    <td>{{eyeColor}}</td>
                </tr>
              </table>
            </td>
            <!-- Characterここまで -->
          </tr>
          <tr>
            <th>job</th>
            <td>{{job}}</td>
          </tr>
          <tr>
            <th>images</th>
            <td>がぞー</td>
          </tr>
        </table>
      </td>
      <!-- Settingここまで -->
    </tr>
    <tr>
      <!-- Status ここから -->
      <th>Status</th>
      <td>
        <table>
          <tr>
            <!-- baseStatusここから -->
            <th>baseStatus</th>
            <td>
              <table>
                <tr>
                  <th>str</th>
                  <td>{{str}}</td>
                </tr>
                <tr>
                  <th>con</th>
                  <td>{{con}}</td>
                </tr>
                <tr>
                  <th>pow</th>
                  <td>{{pow}}</td>
                </tr>
                <tr>
                  <th>dex</th>
                  <td>{{dex}}</td>
                </tr>
                <tr>
                  <th>siz</th>
                  <td>{{siz}}</td>
                </tr>
                <tr>
                  <th>app</th>
                  <td>{{app}}</td>
                </tr>
                <tr>
                  <th>int</th>
                  <td>{{int}}</td>
                </tr>
                <tr>
                  <th>edu</th>
                  <td>{{edu}}</td>
                </tr>
                <tr>
                  <th>income-and-property</th>
                  <td>{{income-and-property}}</td>
                </tr>
              </table>
            </td>
            <!-- baseStatusここまで -->
          </tr>
          <tr>
            <!-- fluctuationStatusここから -->
            <th>
              fluctuationStatus
            </th>
            <td>
              <table>
                <tr>
                  <th>san</th>
                  <td>{{san}}</td>
                </tr>
                <tr>
                  <th>luck</th>
                  <td>{{luck}}</td>
                </tr>
                <tr>
                  <th>idea</th>
                  <td>{{idea}}</td>
                </tr>
                <tr>
                  <th>knowledge</th>
                  <td>{{knowledge}}</td>
                </tr>
                <tr>
                  <th>health</th>
                  <td>{{health}}</td>
                </tr>
                <tr>
                  <th>mp</th>
                  <td>{{mp}}</td>
                </tr>
                <tr>
                  <th>VocationalSkill</th>
                  <td>{{VocationalSkill}}</td>
                </tr>
                <tr>
                  <th>HobbySkill</th>
                  <td>{{HobbySkill}}</td>
                </tr>
                <tr>
                  <th>DamegeBonus</th>
                  <td>{{DamegeBonus}}</td>
                </tr>
              </table>
            </td>
            <!-- fluctuationStatusここまで -->
          </tr>
          <tr>
            <!-- reDiceここから -->
            <th>reFice</th>
            <td>
              <table>
                <tr>
                  <th>str</th>
                  <td>{{diceStr}}</td>
                </tr>
                <tr>
                  <th>con</th>
                  <td>{{diceCon}}</td>
                </tr>
                <tr>
                  <th>pow</th>
                  <td>{{dicePow}}</td>
                </tr>
                <tr>
                  <th>dex</th>
                  <td>{{diceDex}}</td>
                </tr>
                <tr>
                  <th>app</th>
                  <td>{{diceApp}}</td>
                </tr>
                <tr>
                  <th>siz</th>
                  <td>{{diceSiz}}</td>
                </tr>
                <tr>
                  <th>int</th>
                  <td>{{diceint}}</td>
                </tr>
                <tr>
                  <th>edu</th>
                  <td>{{diceEdu}}</td>
                </tr>
                <tr>
                  <th>income-and-property</th>
                  <td>{{diceIncome-and-property}}</td>
                </tr>
              </table>
            </td>
            <!-- reDiceここまで -->
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <!-- Skillここから -->
      <th>Skill</th>
      <td>
        <table>
          <tr>
            <th>combat</th>
            <td>
              <!-- conbatループ開始 -->
              <table>
                <tr>
                  <th>skillName</th>
                  <td>{{conbatSkillName}}</td>
                </tr>
                <tr>
                  <th>initialValue</th>
                  <td>{{conbatInitialValue}}</td>
                </tr>
                <tr>
                  <th>jobPoint</th>
                  <td>{{conbatJobPoint}}</td>
                </tr>
                <tr>
                  <th>hobbyPoint</th>
                  <td>{{conbatHobbyPoint}}</td>
                </tr>
                <tr>
                  <th>growthPoint</th>
                  <td>{{conbatGrowthPoint}}</td>
                </tr>
                <tr>
                  <th>otherPoint</th>
                  <td>{{conbatOtherPoint}}</td>
                </tr>
              </table>
              <!-- combatループ終了 -->
            </td>
          </tr>
          <tr>
            <th>search</th>
            <td>
              <!-- searchループ開始 -->
              <table>
                  <tr>
                    <th>skillName</th>
                    <td>{{searchSkillName}}</td>
                  </tr>
                  <tr>
                    <th>initialValue</th>
                    <td>{{searchInitialValue}}</td>
                  </tr>
                  <tr>
                    <th>jobPoint</th>
                    <td>{{searchJobPoint}}</td>
                  </tr>
                  <tr>
                    <th>hobbyPoint</th>
                    <td>{{searchHobbyPoint}}</td>
                  </tr>
                  <tr>
                    <th>growthPoint</th>
                    <td>{{searchGrowthPoint}}</td>
                  </tr>
                  <tr>
                    <th>otherPoint</th>
                    <td>{{searchOtherPoint}}</td>
                  </tr>
              </table>
              <!-- searchループ終了 -->
            </td>
          </tr>
          <tr>
            <th>behavior</th>
            <td>
              <!-- behaviorループ開始 -->
              <table>
                  <tr>
                    <th>skillName</th>
                    <td>{{behaviorSkillName}}</td>
                  </tr>
                  <tr>
                    <th>initialValue</th>
                    <td>{{behaviorInitialValue}}</td>
                  </tr>
                  <tr>
                    <th>jobPoint</th>
                    <td>{{bihaviorJobPoint}}</td>
                  </tr>
                  <tr>
                    <th>hobbyPoint</th>
                    <td>{{bihaviorHobbyPoint}}</td>
                  </tr>
                  <tr>
                    <th>growthPoint</th>
                    <td>{{bihaviorGrowthPoint}}</td>
                  </tr>
                  <tr>
                    <th>otherPoint</th>
                    <td>{{bihaviorOtherPoint}}</td>
                  </tr>
              </table>
              <!-- behaviorループ終了 -->
            </td>
          </tr>
          <tr>
            <th>negotiation</th>
            <td>
              <!-- negotiationループ開始 -->
              <table>
                <tr>
                  <th>skillName</th>
                  <td>{{negotiationSkillName}}</td>
                </tr>
                <tr>
                  <th>initialValue</th>
                  <td>{{negotiationInitialValue}}</td>
                </tr>
                <tr>
                  <th>jobPoint</th>
                  <td>{{negotiationJobPoint}}</td>
                </tr>
                <tr>
                  <th>hobbyPoint</th>
                  <td>{{negotiationHobbyPoint}}</td>
                </tr>
                <tr>
                  <th>growthPoint</th>
                  <td>{{negotiationGrowthPoint}}</td>
                </tr>
                <tr>
                  <th>otherPoint</th>
                  <td>{{negotiationOtherPoint}}</td>
                </tr>
              </table>
              <!-- negotiationループ終了 -->
            </td>
          </tr>
          <tr>
            <table>
              <th>knowledge</th>
              <td>
                <!-- knowledgeループ開始 -->
                <table>
                  <tr>
                    <th>skillName</th>
                    <td>{{conSkillName}}</td>
                  </tr>
                  <tr>
                    <th>initialValue</th>
                    <td>{{conInitialValue}}</td>
                  </tr>
                  <tr>
                    <th>jobPoint</th>
                    <td>{{conJobPoint}}</td>
                  </tr>
                  <tr>
                    <th>hobbyPoint</th>
                    <td>{{conHobbyPoint}}</td>
                  </tr>
                  <tr>
                    <th>growthPoint</th>
                    <td>{{conGrowthPoint}}</td>
                  </tr>
                  <tr>
                    <th>otherPoint</th>
                    <td>{{conOtherPoint}}</td>
                  </tr>
                </table>
                <!-- knowledgeループ終了 -->
              </td>
            </table>
          </tr>
        </table>
      </td>
      <!-- Skillここまで -->
    </tr>
    <tr>
      <!-- itemsここから -->
      <th>items</th>
      <td>
        <table>
          <tr>
            <th>wepon</th>
            <td>
              <!-- weponループ開始 -->
              <table>
                <tr>
                  <th>weponName</th>
                  <td>{{weponName}}</td>
                </tr>
                <tr>
                  <th>successRate</th>
                  <td>{{successRate}}</td>
                </tr>
                <tr>
                  <th>damage</th>
                  <td>{{damage}}</td>
                </tr>
                <tr>
                  <th>range</th>
                  <td>{{range}}</td>
                </tr>
                <tr>
                  <th>attackCount</th>
                  <td>{{attackCount}}</td>
                </tr>
                <tr>
                  <th>loadingCount</th>
                  <td>{{loadingCount}}</td>
                </tr>
                <tr>
                  <th>endurance</th>
                  <td>{{endurance}}</td>
                </tr>
                <tr>
                  <th>other</th>
                  <td>{{weponOther}}</td>
                </tr>
              </table>
              <!-- weponループ終了 -->
            </td>
          </tr>
          <tr>
            <th>item</th>
            <td>
              <!-- itemループ開始 -->
              <table>
                <tr>
                  <th>itemName</th>
                  <td>{{itemName}}</td>
                </tr>
                <tr>
                  <th>number</th>
                  <td>{{number}}</td>
                </tr>
                <tr>
                  <th>itemOther</th>
                  <td>{{itemOther}}</td>
                </tr>
              </table>
              <!-- itemループ終了 -->
            </td>
          </tr>
        </table>
      </td>
      
      <!-- itemsここまで -->
    </tr>
    <tr>
      <!-- profileここから -->
      <th>profile</th>
      <td>
        <table>
          <tr>
            <th>Career</th>
            <td>{{Career}}</td>
          </tr>
          <tr>
            <th>Encounter</th>
            <td>{{Encounter}}</td>
          </tr>
          <tr>
            <th>OtherMemo</th>
            <td>{{OtherMemo}}</td>
          </tr>
        </table>
      </td>
      <!-- profileここまで -->
    </tr>
  </table>
</div>