<section id="menu">
  <div class="container clearfix">
    <!--
    入室したらメニューを表示させたい。
    chat-room-createのプロパティを使いたい。
    できなければ、そのプロパティを別にするか。
    若しくは処理をこっちに持ってくるか、ここの処理をあっちに持っていくか。
    -->
    <div>
      <ul>
        <li (click)="val='file'">ファイル</li>
        <li (click)="val='view'">表示</li>
        <li (click)="val='koma'">コマ</li>
        <li (click)="val='map'">マップ</li>
        <li (click)="val='config'">設定
          <ul *ngIf="val === 'config'">
            <li>パスワード変更</li>
            <li>種族設定</li>
            <li>職業設定</li>
          </ul>
        </li>
        <li (click)="leave()" routerLink="">退室</li>
      </ul><br>
    </div>
    <app-chat-room-create></app-chat-room-create>
  </div>
</section>
