<div class="statusBlock">
  <ul class="statusList">
    <li *ngFor="let chara of charaList; let i = index;" class="character">
      <dl class="about">
        <dt>{{chara.Setting.character.name}}</dt>
        <dd>HP:<span>8</span>/<span>{{chara.Status.fluctuationStatus.health}}</span></dd>
        <dd>MP:<span>10</span>/<span>{{chara.Status.fluctuationStatus.mp}}</span></dd>
        <dd>SAN:<span>45</span>/<span>{{chara.Status.fluctuationStatus.san}}</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
