<div class="statusBlock">
  <ul class="statusList">
    <li class="character">
      <dl class="about">
        <dt>サンプルさん</dt>
        <dd>HP:<span>8</span>/<span>12</span></dd>
        <dd>MP:<span>10</span>/<span>10</span></dd>
        <dd>SAN:<span>45</span>/<span>45</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
    <li class="character">
      <dl class="about">
        <dt>サンプルさん</dt>
        <dd>HP:<span>8</span>/<span>12</span></dd>
        <dd>MP:<span>10</span>/<span>10</span></dd>
        <dd>SAN:<span>45</span>/<span>45</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
    <li class="character">
      <dl class="about">
        <dt>サンプルさん</dt>
        <dd>HP:<span>8</span>/<span>12</span></dd>
        <dd>MP:<span>10</span>/<span>10</span></dd>
        <dd>SAN:<span>45</span>/<span>45</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
    <li class="character">
      <dl class="about">
        <dt>サンプルさん</dt>
        <dd>HP:<span>8</span>/<span>12</span></dd>
        <dd>MP:<span>10</span>/<span>10</span></dd>
        <dd>SAN:<span>45</span>/<span>45</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
    <li class="character">
      <dl class="about">
        <dt>サンプルさん</dt>
        <dd>HP:<span>8</span>/<span>12</span></dd>
        <dd>MP:<span>10</span>/<span>10</span></dd>
        <dd>SAN:<span>45</span>/<span>45</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
    <li class="character">
      <dl class="about">
        <dt>サンプルさん</dt>
        <dd>HP:<span>8</span>/<span>12</span></dd>
        <dd>MP:<span>10</span>/<span>10</span></dd>
        <dd>SAN:<span>45</span>/<span>45</span></dd>
      </dl>
      <ul class="paramEdit">
        <li>
          <p>HP</p>
          <input type="text" value="8" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>MP</p>
          <input type="text" value="10" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
        <li>
          <p>SAN</p>
          <input type="text" value="45" readonly>
          <div class="edit">
            <button>+</button>
            <button>-</button>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
