<div class="character-create container">
  <section class="base">
    <h1>基本設定</h1>
    <div class="innerContainer clearfix">
      <div class="left">
        <div class="top">
          <h2>キャラクター情報</h2>
          <div class="contentWrap">
            <ul>
              <li>
                <label for="chara-name">キャラクター名：</label><input type="text" id="chara-name">
              </li>
              <li>
                <div class="radio">
                  <p>性別：</p>
                  <p><input type="radio" id="man" name="gender"><label for="man">男性</label></p>
                  <p><input type="radio" id="woman" name="gender"><label for="woman">女性</label></p>
                </div>
              </li>
              <li>
                <div class="threeColumn">
                  <p><label for="chara-height">身長：</label><input type="text" id="chara-height"></p>
                  <p><label for="chara-weight">体重：</label><input type="text" id="chara-weight"></p>
                  <p><label for="chara-age">年齢：</label><input type="text" id="chara-age"></p>
                </div>
              </li>
              <li>
                <label for="birthplace">出身地：</label><input type="text" id="birthplace">
              </li>
              <li>
                <div class="twoColumn">
                  <p><label for="chara-hair-color">髪色：</label><input type="text" id="chara-hair-col"></p>
                  <p><label for="chara-eye-col">目の色：</label><input type="text" id="chara-eye-col"></p>
                </div>
              </li>
              <li>
                <div class="radio">
                  <p>基本設定：</p>
                  <p><input type="radio" id="PC" name="chara-type"><label for="PC">PC</label></p>
                  <p><input type="radio" id="NPC" name="chara-type"><label for="NPC">NPC</label></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bottom">
          <h2>種族設定</h2>
          <div class="contentWrap">
            <select name="" id="">
              <option value="">dummy01</option>
              <option value="">dummy02</option>
              <option value="">dummy03</option>
              <option value="">dummy04</option>
              <option value="">dummy05</option>
            </select>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="top">
          <h2>画像設定</h2>
          <div class="contentWrap clearfix">
            <div class="left">
              <div class="imgWindow"><img src="" alt=""></div>
              <ul>
                <li><button>追加</button></li>
                <li><button>削除</button></li>
              </ul>
            </div>
            <div class="right">
              <h3>画像一覧</h3>
              <ul>
                <li>dummy01</li>
                <li>dummy02</li>
                <li>dummy03</li>
                <li>dummy04</li>
                <li>dummy05</li>
                <li>dummy06</li>
                <li>dummy07</li>
                <li>dummy08</li>
                <li>dummy09</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bottom">
          <h2>職業設定</h2>
          <div class="contentWrap">
            <select name="" id="">
              <option value="">dummy01</option>
              <option value="">dummy02</option>
              <option value="">dummy03</option>
              <option value="">dummy04</option>
              <option value="">dummy05</option>
            </select>
            <dl class="clearfix">
              <dt><p>取得できる技能</p></dt>
              <dd><textarea name="" id="" cols="30" rows="3"></textarea></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ability">
    <h1>能力値</h1>
    <div class="innerContainer clearfix">
      <div class="left clearfix">
        <div class="left">
          <h2>基礎ステータス</h2>
          <div class="contentWrap clearfix">
            <table>
              <tr>
                <th>STR</th>
                <td><p></p></td>
                <td class="role"><button>3D6</button></td>
              </tr>
              <tr>
                <th>CON</th>
                <td><p></p></td>
                <td class="role"><button>3D6</button></td>
              </tr>
              <tr>
                <th>POW</th>
                <td><p></p></td>
                <td class="role"><button>3D6</button></td>
              </tr>
              <tr>
                <th>DEX</th>
                <td><p></p></td>
                <td class="role"><button>3D6</button></td>
              </tr>
              <tr>
                <th>APP</th>
                <td><p></p></td>
                <td class="role"><button>3D6</button></td>
              </tr>
              <tr>
                <th>SIZ</th>
                <td><p></p></td>
                <td class="role"><button>2D6+6</button></td>
              </tr>
              <tr>
                <th>INT</th>
                <td><p></p></td>
                <td class="role"><button>2D6+6</button></td>
              </tr>
              <tr>
                <th>EDU</th>
                <td><p></p></td>
                <td class="role"><button>3D6+3</button></td>
              </tr>
              <tr>
                <th>年収・財産</th>
                <td><p></p></td>
                <td class="role"><button>3D6</button></td>
              </tr>
            </table>
            <button class="allRole">一括ダイスロール</button>
          </div>
        </div>
        <div class="right">
          <h2>変動ステータス</h2>
          <div class="contentWrap">
            <table>
              <tr>
                <th>SAN</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>幸運</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>アイデア</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>知識</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>体力</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>MP</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>職業技能値</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>趣味技能値</th>
                <td><p></p></td>
              </tr>
              <tr>
                <th>ダメージボーナス</th>
                <td><p></p></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="right">
        <h2>振りなおし回数</h2>
        <div class="contentWrap">
          <table>
            <tr>
              <th>STR</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>CON</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>POW</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>DEX</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>APP</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>SIZ</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>INT</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>EDU</th>
              <td><p></p></td>
            </tr>
            <tr>
              <th>年収・財産</th>
              <td><p></p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="skill">
    <h1>技能</h1>
    <div class="innerContainer clearfix">
      <div class="left">
        <h2>技能リスト</h2>
        <div class="skillWrap">
          <dl>
            <dt>戦闘技能</dt>
            <dd>
              <table>
                <tr>
                  <th>技能名／技能値</th>
                  <th>初期値</th>
                  <th>職業Ｐ</th>
                  <th>興味Ｐ</th>
                  <th>成長Ｐ</th>
                  <th>その他</th>
                  <th>合計</th>
                </tr>
                <tr class="line">
                  <th><p>回避</p></th>
                  <td><p>0</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>0</p></td>
                </tr>
                <tr class="line">
                  <th><p>キック</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>組付き</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>こぶし（パンチ）</p></th>
                  <td><p>50</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>50</p></td>
                </tr>
                <tr class="line">
                  <th><p>頭突き</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>投擲</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>マーシャルアーツ</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>拳銃</p></th>
                  <td><p>20</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>20</p></td>
                </tr>
                <tr class="line">
                  <th><p>サブマシンガン</p></th>
                  <td><p>15</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>15</p></td>
                </tr>
                <tr class="line">
                  <th><p>ショットガン</p></th>
                  <td><p>30</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>0</p></td>
                </tr>
                <tr class="line">
                  <th><p>マシンガン</p></th>
                  <td><p>15</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>15</p></td>
                </tr>
                <tr class="line">
                  <th><p>ライフル</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
              </table>
              <ul>
                <li><button>追加</button></li>
                <li><button class="del">削除</button></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>探索技能</dt>
            <dd>
              <table>
                <tr>
                  <th>技能名／技能値</th>
                  <th>初期値</th>
                  <th>職業Ｐ</th>
                  <th>興味Ｐ</th>
                  <th>成長Ｐ</th>
                  <th>その他</th>
                  <th>合計</th>
                </tr>
                <tr class="line">
                  <th><p>応急手当</p></th>
                  <td><p>30</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>30</p></td>
                </tr>
                <tr class="line">
                  <th><p>鍵開け</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>隠す</p></th>
                  <td><p>15</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>15</p></td>
                </tr>
                <tr class="line">
                  <th><p>隠れる</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>聞き耳</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>忍び歩き</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>写真術</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>精神分析</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>追跡</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>登攀</p></th>
                  <td><p>40</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>40</p></td>
                </tr>
                <tr class="line">
                  <th><p>図書館</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>目星</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
              </table>
              <ul>
                <li><button>追加</button></li>
                <li><button class="del">削除</button></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>行動技能</dt>
            <dd>
              <table>
                <tr>
                  <th>技能名／技能値</th>
                  <th>初期値</th>
                  <th>職業Ｐ</th>
                  <th>興味Ｐ</th>
                  <th>成長Ｐ</th>
                  <th>その他</th>
                  <th>合計</th>
                </tr>
                <tr class="line">
                  <th><p>運転（）</p></th>
                  <td><p>20</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>20</p></td>
                </tr>
                <tr class="line">
                  <th><p>機械修理</p></th>
                  <td><p>20</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>20</p></td>
                </tr>
                <tr class="line">
                  <th><p>重機械操作</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>乗馬</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>水泳</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>制作（）</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>操縦</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>跳躍</p></th>
                  <td><p>25</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>25</p></td>
                </tr>
                <tr class="line">
                  <th><p>電気修理</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>ナビゲート</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>変装</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
              </table>
              <ul>
                <li><button>追加</button></li>
                <li><button class="del">削除</button></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>交渉技能</dt>
            <dd>
              <table>
                <tr>
                  <th>技能名／技能値</th>
                  <th>初期値</th>
                  <th>職業Ｐ</th>
                  <th>興味Ｐ</th>
                  <th>成長Ｐ</th>
                  <th>その他</th>
                  <th>合計</th>
                </tr>
                <tr class="line">
                  <th><p>言いくるめ</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>信用</p></th>
                  <td><p>15</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>15</p></td>
                </tr>
                <tr class="line">
                  <th><p>説得</p></th>
                  <td><p>15</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>15</p></td>
                </tr>
                <tr class="line">
                  <th><p>値切り</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>15</p></td>
                </tr>
                <tr class="line">
                  <th><p>母国語（）</p></th>
                  <td><p>20</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>20</p></td>
                </tr>
              </table>
              <ul>
                <li><button>追加</button></li>
                <li><button class="del">削除</button></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>知識技能</dt>
            <dd>
              <table>
                <tr>
                  <th>技能名／技能値</th>
                  <th>初期値</th>
                  <th>職業Ｐ</th>
                  <th>興味Ｐ</th>
                  <th>成長Ｐ</th>
                  <th>その他</th>
                  <th>合計</th>
                </tr>
                <tr class="line">
                  <th><p>医学</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>オカルト</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>化学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>クトゥルフ神話</p></th>
                  <td><p>0</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>0</p></td>
                </tr>
                <tr class="line">
                  <th><p>芸術</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>経理</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>考古学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>コンピュータ</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>心理学</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>人類学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>生物学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>地質学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>電子工学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>天文学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>博物学</p></th>
                  <td><p>10</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>10</p></td>
                </tr>
                <tr class="line">
                  <th><p>植物学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>法律</p></th>
                  <td><p>5</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>5</p></td>
                </tr>
                <tr class="line">
                  <th><p>薬学</p></th>
                  <td><p>1</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>1</p></td>
                </tr>
                <tr class="line">
                  <th><p>歴史</p></th>
                  <td><p>20</p></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><input type="number" value="0"></td>
                  <td><p>20</p></td>
                </tr>
              </table>
              <ul>
                <li><button>追加</button></li>
                <li><button class="del">削除</button></li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
      <div class="right">
        <div class="top">
          <h2>保有ポイント</h2>
          <div class="contentWrap">
            <ul>
              <li class="clearfix"><label for="professionPoint">職業ポイント：</label><input type="text" id="professionPoint" readonly /></li>
              <li class="clearfix"><label for="interestPoint">興味ポイント：</label><input type="text" id="interestPoint" readonly /></li>
            </ul>
          </div>
        </div>
        <div class="bottom">
          <h2>取得技能</h2>
          <div class="contentWrap">
            <textarea name="name" rows="8" cols="80" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="item">
    <h1>所持品</h1>
    <div class="innerContainer">
      <div class="top">
        <h2>戦闘・武器・防具</h2>
        <div class="containerWrap">
          <table>
            <tr>
              <th>名称</th>
              <th>成功率</th>
              <th>ダメージ</th>
              <th>射程</th>
              <th>攻撃回数</th>
              <th>装填数</th>
              <th>耐久力</th>
              <th>その他</th>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="bottom">
        <h2>所持品</h2>
        <div class="containerWrap">
          <table>
            <tr>
              <th>名称</th>
              <th>個数</th>
              <th>説明</th>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="profile">
    <h1>プロフィール</h1>
    <div class="innerContainer">
      <div class="top">
        <h2>経歴</h2>
        <div class="containerWrap">
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="bottom">
        <div class="clearfix">
          <div class="left">
            <h2>遭遇したもの</h2>
            <div class="containerWrap">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="right">
            <h2>その他</h2>
            <div class="containerWrap">
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="submits">
    <ul>
      <li class="save"><button (click)="download()">保存</button></li>
      <li class="cancel"><button>キャンセル</button></li>
    </ul>
  </div>
</div>
