@charset "UTF-8";
/* 全体
------------------------------*/
.character-create {
  font-size: 12px;
}
h1, h2, h3 {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  background: #81c784;
  color: #000;
  font-size: 20px;
}
h2 {
  background: #519657;
  color: #fff;
  font-size: 18px;
}
h3 {
  background: #aed581;
  color: #fff;
  font-size: 16px;
}
section {
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.innerContainer {
  width: 920px;
  margin: 10px auto;
}
.contentWrap {
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.radio {}
  .radio p {
    display: inline-block;
  }

/* 基本設定
------------------------------*/
.base {}
  .base .left {
    width: 450px;
  }
  .base .left .top,
  .base .right .top {
    margin-bottom: 10px;
  }
    .base .left .top {
      border: 1px solid #999;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
      .base .left .top ul {
        letter-spacing: -0.5em;
      }
        .base .left .top ul li {
          margin-bottom: 25px;
          letter-spacing: normal;
        }
          .base .left .top ul li:last-child {
            margin-bottom: 0;
          }
      .base .left .top .twoColumn {}
        .base .left .top .twoColumn p {
          margin-right: 15px;
          display: inline-block;
        }
          .base .left .top .twoColumn p:last-child {
            margin-right: 0;
          }
          .base .left .top .twoColumn p input[type="text"] {
            width: 75px;
          }
      .base .left .top .threeColumn {}
        .base .left .top .threeColumn p {
          margin-right: 15px;
          display: inline-block;
        }
          .base .left .top .threeColumn p:last-child {
            margin-right: 0;
          }
          .base .left .top .threeColumn p input[type="text"] {
            width: 75px;
          }
      .base .left .top .radio {}
        .base .left .top .radio p:nth-child(2) {
          margin-right: 15px;
        }
    .base .left .bottom {
      border: 1px solid #999;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
      .base .left .bottom select {
        margin: 0 auto;
        padding: 5px 0;
        width: 100%;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
  .base .right {
    width: 450px;
  }
    .base .right .top {
      border: 1px solid #999;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
      .base .right .top .contentWrap {}
        .base .right .top .contentWrap .left {
          width: 175px;
        }
          .base .right .top .contentWrap .left .imgWindow {
            width: 175px;
            height: 175px;
            border: 1px solid #999;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
            .base .right .top .contentWrap .left .imgWindow img {
              width: 100%;
              height: 100%;
            }
          .base .right .top .contentWrap .left ul {
            margin-top: 20px;
          }
            .base .right .top .contentWrap .left ul li {
              display: inline-block;
              border-radius: 7px;
            }
              .base .right .top .contentWrap .left ul li button {
                padding: 5px 25px;
                border-radius: 7px;
                border: none;
                background: #1976d2;
                border: 2px solid #1976d2;
                color: #fff;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
              }
                .base .right .top .contentWrap .left ul li button:hover {
                  background: #fff;
                  color: #1976d2;
                  transition-duration: 0.3s;
                }
              .base .right .top .contentWrap .left ul li:last-child button {
                margin-left: 10px;
                background: #f44336;
                border: 2px solid #f44336;
              }
                .base .right .top .contentWrap .left ul li:last-child button:hover {
                  background: #fff;
                  color: #f44336;
                }
        .base .right .top .contentWrap .right {
          width: 235px;
          border: 1px solid #999;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
          .base .right .top .contentWrap .right ul {
            height: 185px;
            overflow-y: scroll;
            letter-spacing: -0.5em;
          }
            .base .right .top .contentWrap .right ul li {
              padding: 10px;
              text-align: center;
              line-height: 1;
              letter-spacing: normal;
              width: 100%;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              border-bottom: 1px solid #999;
            }
              .base .right .top .contentWrap .right ul li:hover {
                background: #87ceeb;
                color: #fff;
                transition-duration: 0.3s;
              }
    .base .right .bottom {
      border: 1px solid #999;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
        .base .right .bottom select {
          margin: 0 auto;
          padding: 5px 0;
          width: 100%;
          display: block;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
        .base .right .bottom dl {
          margin-top: 10px;
        }
          .base .right .bottom dl dt {
            display: inline-block;
            float: left;
          }
          .base .right .bottom dl dd {
            display: inline-block;
            vertical-align: top;
            float: right;
          }

/* 能力値
------------------------------*/
.ability {}
  .ability table {
    width: 100%;
    height: 200px;
  }
    .ability table tr {
      letter-spacing: 0.5em;
      height: calc(100% / 9);
    }
      .ability table tr th,
      .ability table tr td {
        letter-spacing: normal;
        width: calc(100% / 2);
        border: 1px solid #666;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
        .ability table tr td p {
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
        }
  .ability .left {
    width: 610px;
  }
    .ability .left .left {
      width: 300px;
      border: 1px solid #999;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
      .ability .left .left table {}
        .ability .left .left table tr {
          width: 100%;
        }
          .ability .left .left table tr th,
          .ability .left .left table tr td {
            width: calc(100% / 3);
          }
            .ability .left .left table tr td button {
              margin: 0 auto;
              padding: 2px 5px;
              width: 70px;
              height: 85%;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              text-align: center;
              display: block;
              border: none;
              background: #999;
              color: #fff;
              border: 2px solid #999;
              border-radius: 7px;
            }
              .ability .left .left table tr td button:hover {
                background: #fff;
                color: #999;
                transition-duration: 0.3s;
              }
            .ability .left .left table tr td.role {
              border: none;
            }
      .ability .left .left .allRole {
        float: right;
        margin: 5px 0 0;
        padding: 2px 5px;
        border: 2px solid #4fc3f7;
        border-radius: 7px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        background: #4fc3f7;
        color: #fff;
      }
        .ability .left .left .allRole:hover {
          background: #fff;
          color: #4fc3f7;
          transition-duration: 0.3s;
        }
    .ability .left .right {
      width: 300px;
      border: 1px solid #999;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
      .ability .left .right table {}
        .ability .left .right table tr {
          width: 100%;
        }
          .ability .left .right table tr th,
          .ability .left .right table tr td {
            width: calc(100% / 2);
          }
  .ability .right {
    width: 300px;
    border: 1px solid #999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* 技能値
------------------------------*/
.skill {}
  .skill .left {
    width: 560px;
  }
      .skill .left .skillWrap {
        width: 100%;
        height: 320px;
        overflow-y: scroll;
      }
        .skill .left .skillWrap dl {}
          .skill .left .skillWrap dl dt {
            text-align: center;
            font-size: 16px;
            background: #ffd740;
          }
          .skill .left .skillWrap dl dd {}
            .skill .left .skillWrap dl dd table {
              width: 100%;
            }
              .skill .left .skillWrap dl dd table tr {
                width: 100%;
                letter-spacing: -0.5em;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
              }
                .skill .left .skillWrap dl dd table tr th {
                  padding: 5px;
                  letter-spacing: normal;
                  border: 1px solid #666;
                  background: #ccc;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  text-align: center;
                }
                .skill .left .skillWrap dl dd table tr td {
                  padding: 5px;
                  letter-spacing: normal;
                  border: 1px solid #666;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  text-align: center;
                }
                  .skill .left .skillWrap dl dd table tr td input {
                    width: 100%;
                    border: none;
                  }
                .skill .left .skillWrap dl dd table tr.line {}
                  .skill .left .skillWrap dl dd table tr.line th {
                    width: 120px;
                  }
                  .skill .left .skillWrap dl dd table tr.line td {
                    padding: 0;
                    width: 75px;
                  }
                    .skill .left .skillWrap dl dd table tr.line td:first-child {
                      padding: 5px;
                      width: 50px;
                    }
                    .skill .left .skillWrap dl dd table tr.line td:last-child {
                      padding: 5px;
                    }
                    .skill .left .skillWrap dl dd table tr.line td input {
                      padding: 5px;
                      -webkit-box-sizing: border-box;
                      box-sizing: border-box;
                    }
  .skill .right {
    width: 340px;
  }
    .skill .right .top {}
    .skill .right .bottom {}

/* 保存・キャンセル
------------------------------*/
.submits {
  margin-top: 20px;
  text-align: right;
}
  .submits ul li {
    display: inline-block;
    border-right: 7px;
  }
      .submits ul li button {
        padding: 5px 25px;
        border-radius: 7px;
        border: none;
        background: #1976d2;
        border: 2px solid #1976d2;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
        .submits ul li.cancel button {
          margin-left: 10px;
          background: #f44336;
          border: 2px solid #f44336;
        }
          .submits ul li button:hover {
            background: #fff;
            color: #1976d2;
            transition-duration: 0.3s;
          }
        .submits ul li.cancel button{
          margin-left: 10px;
          background: #f44336;
          border: 2px solid #f44336;
        }
          .submits ul li.cancel button:hover {
            background: #fff;
            color: #f44336;
          }
