main{
  /* ページ全体 */
  h1{
    padding: 5px 0 5px 5px;
    background-color: gray;
    font-size: 15px;
    color: white;
  }
  section{
    background-color: lightgray;
    color: black;
  }
  /* 左側 */
  .left-area{
    display: inline-block;
    width: 620px;
    height: auto;
    /* マップウィンドウ */
    .map{
      width: 600px;
      height: 350px;
    }
    /* チャットウィンドウ */
    .chat{
      width: 600px;
      height: 200px;
    }
  }
  /* 右側 */
  .right-area{
    display: inline-block;
    width: 320px;
    height: auto;
    /* ステータスウィンドウ */
    .status{
      width: 300px;
      height: 350px;
    }
    /* ダイスウィンドウ */
    .dice{
      width: 300px;
      height: 200px;
    }
  }
  /* メニューバー */
  header{
    ul{
      color: black;
      letter-spacing: -0.5em;
      padding: 0;
      margin: 0;
      li{
        width: 70px;
        text-align: center;
        letter-spacing: normal;
        display: inline-block;
        padding: 0 10px;
        background-color: lightgray;
        border-left: 1px solid black;
      }
    }
  }
}
