<div class="menu">
  <ul>
    <li><a routerLink="">ファイル</a></li>
    <li><a routerLink="">表示</a></li>
    <li><a routerLink="">コマ</a></li>
    <li><a routerLink="">マップ</a></li>
    <li><a routerLink="">トップ</a></li>
    <li><a routerLink="">設定</a></li>
    <li><a routerLink="">退室</a></li>
  </ul>
</div>

<div class="room">
  <div class="mainBlock">
    <div class="map"></div>
    <div class="chat"></div>
  </div>
  <div class="sideBlock">
    <div class="status"></div>
    <div class="memo"></div>
  </div>
</div>
