<div class="roomForm" *ngIf="!room_in; else room">
  <div class="warp">
    <h1>ルーム入室</h1>
    <form (submit)="enter()">
      <ul class="column">
        <li><label for="text">ホストのIPアドレス：</label><input type="text" (input)="ip=$event.target.value"></li>
        <li><label for="password">パスワード：</label><input type="password" (input)="pass=$event.target.value"></li>
        <li><label for="text">あなたの名前：</label><input type="text" (input)="name=$event.target.value"></li>
      </ul>
      <ul class="submits clearfix">
        <li><button class="submit" type="submit">入室</button></li>
        <li><a (click)="leave()" routerLink=""><button class="leave">トップへ戻る</button></a></li>
      </ul>
    </form>
  </div>
</div>

<ng-template #room>
  <div class="chatBlock">
    <ul class="log">
      <li id="message_list" *ngFor="let message of message_list"><span>{{message.message}}</span><span class="date">{{message.date}}</span></li>
    </ul>
    <form (submit)="message()" (submit)="$event.target.text.value=null">
      <input name='text' type="text" placeholder="テキスト" (input)="comment=$event.target.value">
      <input type="submit" value="送信">
    </form>
  </div>
</ng-template>
