<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PeerTest</title>
</head>
<body>
<div *ngIf="!room_in; else room">
  <form (submit)="enter()">
    <input type="text" placeholder="IPアドレスを入力してください。" (input)="ip=$event.target.value"><br>
    <input type="password" placeholder="パスワードを入力してください。"(input)="pass=$event.target.value">
    <input type="submit" value="送信">
  </form><br>
  <a (click)="leave()" routerLink="">トップへ戻る</a><br>
</div>
<ng-template #room>
  <form (submit)="message()">
    <input type="text" placeholder="テキスト" (input)="comment=$event.target.value">
    <input type="submit" value="送信">
  </form><br>
  <a (click)="leave()" routerLink="">退出する</a>
  <div id="message_list" *ngFor = "let message of message_list">
    <div>{{message}}</div>
  </div>
</ng-template>
</body>
</html>
